html
{
    background: transparent url(../images/bg_bottom.jpg) repeat;
    background-position-x: center;
    background-size: 100%;
}
body {
    background: transparent url(../images/bg.jpg) no-repeat;
    background-position-x: center;
    background-size: 100%;
    margin: 0;
    padding: 8px 8px 8px 8px;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #F2F2F2;
}
h1{

}
h2{

}
h3 {
    font-family: Verdana, sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-variant: small-caps;
    border-bottom: 1px solid;
    color: #ACACAC;
    margin: 0;
}
h4 {

}


#header {
width: 800px;
height: 189px;
margin-bottom:1px;
margin-left: auto;
margin-right: auto;
position: relative;
}

#wrapper {
padding:0px;
width: 940px;
position: relative;
margin-top: 35px;
margin-left: auto; 
margin-right: auto;
}

/*top navigation*/

#nav {
width: 1000px;
height: 34px;
position: fixed;
top: -1px;
left: 50%;
margin-left: -500px;
background: transparent url(../images/navtile.png) repeat-x;
border-style:solid;
border-width:1px;
border-color:#545454;
}


#nav ul {
	list-style: none;	
	margin: 0;
    padding: 0;
}

#nav ul li {
	display: inline-block;
	margin: 0; padding: 0;
}
#nav ul li:first-child a {
	border-left: 1px solid rgba(255,255,255,0.22);
}
#nav ul li a:current {
	color: #44FF77;
}
#nav ul li a {
	display: block;
	float: left;
	width: 120px;
	height: 18px;
	margin: 4px 0 1px;
	padding-top: 3px;
	padding-bottom: 4px;
	border-right: 1px solid rgba(255,255,255,0.22);
	text-align: center;
	/* color: rgba(0,0,0,0.75); */
	font-family: Segoe UI;
	font-size: 14px;
	color: #C4C4C4;
	text-decoration: none;
}

#nav ul li a:hover {
	/* background: url(../images/navtile-hover.png) repeat-x; */
	color: #ffffff;
	text-decoration: underline;
}

#footer {
background: transparent url(../images/footer.png);
font-family: Segoe UI;
font-size: 11px;
width: 619px;
height: 57px;
margin: 10px 0;
}

#cp {
font-family: Arial, sans-serif;
font-size: 11px;
}

#content {
    background: transparent url(../images/bricks.png) no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 20px 0;
}
#content > div{
    box-shadow: 0px 0px 22px 4px #000;
}

#topbar {
background: transparent url(../images/scroller.png) no-repeat;
background-size: 100%;
width: 100%;
height: 22px;
padding-top: 4px;
color: #0068c0;
font-size: 14px;
font-family: Segoe UI;
}

#topbarbg {
background: transparent url(../images/topbarbg.jpg) no-repeat;
background-size: 100% 100%;
width: 55%;
height: 25px;
padding: 15px 2% 15px 12%;
margin-right: 4%;
display: inline-block;
}

#sidebar {
background: transparent url(../images/sidebar.png) no-repeat;
background-size: 100% 100%;

margin: 0 3%;
padding: 2%;
width: 17%;
height:  100%;
float: left;
}
#sidebar img {
    margin: 0;
}
#sidebar h4 {
    font-size: 30px;
    font-variant: small-caps;
    margin: 10px 0;
    font-weight: normal;
}
#sidebarbg {
background: transparent url(../images/sidebar_bg.png) no-repeat;
position: relative;
margin-top: -13px;
float: left;
width: 207px;
display: inline-block;
}

#main {
background: transparent url(../images/main.png);
background-size: 100% 100%;
margin: 25px 3% 0 0;
width: 65%;
min-height: 422px;
padding: 2%; /* 27 */
display: inline-block;
}

#mainbg {
background: transparent url(../images/main_bg.png);
background-size: 101%;
width: 690px;
height: 459px;
padding: 20px;

display: inline-block;
}

#mainText {
width: auto;
height: auto;
margin-left: 10px;
}


#sidebar2 {
float:left;
width:189px;
height:483px;
margin-top: 20px;
}

.ucpHeader {
font-size: 16px;
font-family: Microsoft Sans Serif;
color: #0000FF;
}
.scrollbar {
   height: 30px;
   overflow: auto;
}
.mainHeader {
font-size: 18px;
font-family: Segoe UI;
color: #00a2ff;
margin-top: 10px;
margin-left: 0px;
}

.sidebarlist {
	font-family: Arial;
	font-size:11px;
	/* color: #6ec2f3; */
	
}

.list {
	font-size: 11px;
}

.loginInput {
border-style:solid;
border-width:1px;
border-color:#d2d2d2;
}

#mycustomscroll {
/* Typical fixed height and fixed width example */
width: 484px;
height: 330px;
overflow: auto;
/* IE overflow fix, position must be relative or absolute*/
position: relative;
margin: 0.3em auto;
padding: 15px;
}

#mycustomscroll2 {
/* Typical fixed height and fixed width example */
width: 340px;
height: 250px;
overflow: auto;
/* IE overflow fix, position must be relative or absolute*/
position: relative;
background-color: #D5EADE;
margin: 0.3em auto;
padding: 15px;
}


.fixedwidth {
/* a wide div is used for creating horizontal scrollbars for demonstration purposes */
width: 500px;
height: auto;
position: relative;
color: black;
padding: 1px;
}
.scrollgeneric {
line-height: 1px;
font-size: 1px;
position: absolute;
top: 0; left: 0;
}

.vscrollerbase {
width: 10px;
background-color: white;
}
.vscrollerbar {
width: 10px;
background-color: black;
}


.scrollerjogbox {
width: 10px;
height: 10px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background-color: gray;
}